{% extends 'layouts/base.html' %}

{% block title %}
    {{ data.0.text }}
{% endblock title %}

{% block body %}
    <div  class="col col-lg-8 text-center">
        <ul  class="list-group" >    
        {% for item in data %}
            <li class="list-group-item">
                {{ item.title }}<br>
                <iframe width="420" height="315"
                src="{{ item.url }}">
                </iframe>
            </li>
        {% endfor %}    
        </ul>    
    </div>
    
{% endblock body %}
    