{% extends 'layouts/base.html' %}

{% block title %}
    {{ data.0.text }}
{% endblock title %}

{% block body %}
    <div class="col col-lg-10 text-center" style="margin:auto; margin-top:3em;">
        <ul class="list-group" >
        {% for item in data %}
            <li>
              <a class="list-group-item" href="{% url 'viewVideo' item.video_id %}">
                  <h5><b>{{item.title}}</b></h5>
                  <h6>{{item.descr}}</h6>
              </a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock body %}
