{% extends 'layouts/base.html' %}

{% block title %}
    {{ ch.0.name }}
{% endblock title %}

{% block body %}
    <h2>{{ ch.0.name }}</h2>
    <h4>{{ ch.0.description }}</h4>
    <ol>
        {% for pl in pllist %}
            <li><a href="{% url 'getPlaylist' pl.playlist_id %}">{{ pl.name }}</a></li>
        {% endfor %}        
    </ol>        
    
    {% if showdel == True %}
        <form action="{% url 'createPlaylist' ch.0.channel_id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Create Playlist">
        </form>
        <form action="{% url 'deleteChannel' ch.0.channel_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete Channel">
        </form>
    {% else %}
        <form action="{% url 'subscribe' ch.0.channel_id %}" method="post">
            {% csrf_token %}
            {% if subs == True %}
                <input type="submit" name="subscribe" value="Unsubscribe">
            {% else %}
                <input type="submit" name="subscribe" value="Subscribe">
            {% endif %}
        </form>
    {% endif %}
{% endblock body %}
    