{% extends 'layouts/base.html' %}


{% block title %}
    {{ ch.0.name }}
{% endblock title %}
    

{% block body %}
    <form action="{% url 'createPlaylist' ch.0.channel_id %}" method="post" class="col col-lg-4 text-center" style="margin: auto; margin-top: 5em;">
        {% csrf_token %}
        <h3>Create Playlist:</h3><br>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter Playlist Name">
        </div>
        <input type="submit" name="submit" value="Create" class="btn btn-primary"><br>      
    </form><br>
    {{ msg }}<br>
    <a href="{% url 'getChannel' ch.0.channel_id %}"  class="btn btn-secondary" style="margin: 0.25em">Go To Your Channel...</a>
{% endblock body %}
    