{% extends 'layouts/base.html' %}

{% block title %}
    {{ data.0.name }}
{% endblock title %}

{% block body %}
    <h4>{{ data.0.description }}</h4>
    <ol>
        {% for item in data %}
            <li>{{ item.plname }}</li>
            <form action="{% url 'removeVidPl' item.playlist_id %}" method="post">
                {% csrf_token %}
                {% for video in item.videos %}
                <input type="checkbox" name="box" value="{{ video.video_id }}">{{ video.title }}<br>
                {% endfor %}
                <input type="submit" value="remove">
            </form>
        {% endfor %}
    </ol>
    <a href="{% url 'createPlaylist' data.0.channel_id %}"><button>+ New Playlist</button></a>
{% endblock body %}
    