{% extends 'layouts/base.html' %} 
{% block title %} 
search
{% endblock title %}
{% block body %}

<form method="POST" action="{% url 'search' %}" class="row col-lg-10" style="margin:auto; margin-top: 2em ">
    {% csrf_token %}
    <input name="query" type="text" value="" class="col-lg-12 row" style="margin: 0.25em" />
    <select name="cat" class="form-control" style="width: 10em;margin: 0.25em" class="col col-lg-2" >
        <option value="Categories">Categories</option>
        <option value="Channels">Channels</option>
        <option value="Playlists">Playlists</option>
        <option value="Videos">Videos</option>
        <option value="Users">Users</option>
    </select>
    <input name="" type="submit" class="btn btn-secondary" value="Search" class="col col-lg-1" style="margin: 0.25em">
   
</form>
<br>
<div  class="container" style="margin-bottom: 5em;">
{% if result %}

    {% if cat == "Categories" %}
        <h3 class="text-center">Categories</h3>
        <ul class="list-group">
  
        {% for res in result %}
        <a class="list-group-item" href="{% url 'catvideo' res.cat_id %}">
            <h4>{{res.text}}</h4>
        </a>
        {% endfor %}
    {% endif %}

    {% if cat == "Channels" %}
        <h3 class="text-center">Channels</h3>
        {% for res in result %}
        <a class="list-group-item"  href="{% url 'getChannel' res.channel_id %}">
            <h5><b>{{res.name}}</b></h4>
            <h6>{{res.description}}</h4>
        </a>
        {% endfor %}
    {% endif %}

    {% if cat == "Playlists" %}
        <h3 class="text-center">Playlists</h3>
        {% for res in result %}
        <a class="list-group-item"  href="{% url 'getPlaylist' res.playlist_id %}">
            <h5>{{res.name}}</h5>
        </a>
        {% endfor %}
    {% endif %}

    {% if cat == "Videos" %}
        <h3 class="text-center">Videos</h3>
        {% for res in result %}
        <a  class="list-group-item" href="{% url 'viewVideo' res.video_id %}">
            <h5><b>{{res.title}}</b></h5>
            <h6>{{res.descr}}</h6>
        </a>
        {% endfor %}
    {% endif %}

    {% if cat == "Users" %}
        <h3 class="text-center">Users</h3>
        {% for res in result %}
        <a  class="row list-group-item" href="{% url 'userProfile' res.user_id %}">
            <article class="">
                <small>{{res.username}}</small>
                <h4>{{res.firstname}} {{res.lastname}}</h4>
            </article>
        </a>
        {% endfor %}
    {% endif %}

{% endif %}
</div>
{% endblock body %}
