{% extends 'layouts/base.html' %} 
{% block title %} 
{{user.username}}
{% endblock title %}
{% block body %}
<h3>{{user.username}}</h3>
<h4>{{user.firstname}}</h4>
<h4>{{user.lastname}}</h4>
<h4>{{user.gender}}</h4>

<h3>Channels</h3>
<ul>
    {% for channel in channels %}
       <li>
            <a href="{% url 'getChannel' channel.channel_id %}"><h4>{{channel.name}}</h4></a>
            <h5>{{channel.description}}</h5>
       </li>
    {% endfor %}    
</ul>

<h3>Videos</h3>
<ul>
    {% for video in videos %}
    <li>
        <a href="{% url 'viewVideo' video.video_id %}">
            <h4>{{video.title}}</h4>
        </a>
        {{video.descr}}
    </li>
    {% endfor %}
</ul>

{% if owner == True %}
    <form action="{% url 'upload'%}" method="get">
        {% csrf_token %}
        <input type="submit" value="Upload Videos">
    </form>
    <form action="{% url 'createChannel'%}" method="get">
        {% csrf_token %}
        <input type="submit" value="+ New Channel">
    </form>
{% endif %}
    

{% endblock body %}
