{% extends 'layouts/base.html' %} {% block title %} {{user.username}} {% endblock title %} {% block body %}
<div class="col col-lg-10" style="margin: auto; margin-top: 3em;">
    <section class="row">
        <i class="fa fa-user-circle col col-lg-3" aria-hidden="true" style="font-size: 7.5em;"></i>
        <article class=" col col-lg-3">
            <h1>{{user.username}}</h1>
            <h4>{{user.firstname}} {{user.lastname}}</h4>
            <h4>{{user.gender}}</h4>
        </article>
        <hr>
    </section>
    <br>
    <div class="text-center">
        <h3><b>Channels</b></h3>
        <ul class="list-group">
            {% for channel in channels %}
            <li>
                <a href="{% url 'getChannel' channel.channel_id %}" class="list-group-item">
                    <h4>{{channel.name}}</h4>
                    <h6>{{channel.description}}</h6>
                </a>
            </li>
            {% endfor %}
        </ul>
        <br><br>
        <h3><b>Videos</b></h3><br>
        <div class="row">
            {% for video in videos %}
              <div class="col-lg-4" style="padding:0.5em">
              <div class="card">
              <div class="card-block" style="padding:1em">
                <h4 class="card-title">{{video.title}}</h4>
                <p class="card-text">{{video.descr}}</p>
                {% if owner == True %}
              <form action="{% url 'deleteVid' video.video_id %}" method="post" style="margin: 1em">
                  {% csrf_token %}
                  <input type="submit" value="Remove" class="btn btn-danger">
              </form>
              {% endif %}

              </div>
              </div>
              </div>
            <br>
            {% endfor %}
        </div>
        <br>
        <section class="row" style="margin-bottom: 1em;">
            {% if owner == True %}
            <form class="col col-lg-4" action="{% url 'upload'%}" method="get">
                {% csrf_token %}
                <input type="submit" value="Upload Videos" class="btn btn-primary">
            </form>
            <a class="col col-lg-4 btn btn-danger" href="{% url 'auth:signout' %}">Sign Out</a>
            <form class="col col-lg-4" action="{% url 'createChannel'%}" method="get">
                {% csrf_token %}
                <input type="submit" value="New Channel" class="btn btn-primary">
            </form>
            {% endif %}
        </section>

    </div>
</div>
{% endblock body %}
